body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, p {
    margin: 0.5em 0;
}

header, section, footer {
    margin: 1em;
    padding: 1em;
    border: 1px solid lime;
}

            
*{
                margin: 0;
                padding: 0;
            }
            
            body {background: black;}
            canvas {display:block;}
