/* Reset default browser styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Global styles */
body {
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}

/* Header */
header {
    color: #00FF00;
    padding: 1rem 0;
    text-align: center;
    font-size: 30px;
}

/* Navigation */
nav {
    background-color: #F6F4F3;
    color: #00FF00;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #00FF00;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
}

/* Style visited links */
nav ul li a:visited {
    color: #00FF00; /* Set the visited link color to white */
}

nav ul li a:hover {
    background-color: #00FF00;
}

/* Main content */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Custom styles for code boxes */
.code-box {
    position: relative;
    background-color: #f8f9fa;
    border: 1px solid #343a40;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
.copy-btn {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* CSS for formatting text */
li {
    font-size: 16px; /* Base font size */
    line-height: 1.5; /* Line height for better readability */
}

.bold-text {
    font-weight: bold; /* Make text bold */
    font-size: 18px; /* Larger font size for bold text */
}
.container-fluid {
    height: 100%; /* Fill entire viewport height */
    display: flex;
    flex-direction: row; /* Arrange containers side by side */
}

.left-container, .right-container {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    padding: 20px;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Custom styles */
        .it-guy-img {
            float: right;
            max-width: 400px;
            margin-left: 20px;
            margin-bottom: 20px;
        }
